@model Weather.Models.CurrentWeatherData

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Temperature in @(Model.Name) is @(Model.MainData.Temperature) degree.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
